<h1> Angular HTTP Service</h1>

<!--div *ngFor="let car of data | async"> 
{{ car | json }}

</div-->
<h2>Cars List</h2>
<button (click)="sort()">Sort</button>

<div *ngFor="let show of data$" style="text-align: left">
    <!--<h2>{{show.name}}</h2>-->
    <!--<div *ngFor="let car of show.cars; let i=index">-->
      <!--h4>Content {{i+1}}</h4-->     
      <div>
      <ul>
        <li *ngFor="let car of show.cars">
          {{car.make}}
          <p>{{car.model}}</p>
          <p>{{show.name}}</p>
        </li>
      </ul> 
        <!--p>{{car.make}}</p>
        <p>{{car.model}}</p-->
    </div>
    
  </div>

